<configuration>

    <!-- Console -->
    <appender name="JSON_CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <logLevel/>
                <loggerName/>
                <message/>
                <mdc/>
                <arguments/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>


    <!-- File -->
    <appender name="JSON_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>D:/Home/apps/alloy-windows/logs/main-app.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">

            <fileNamePattern>
                D:/Home/apps/alloy-windows/logs/main-app.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>

            <maxFileSize>10MB</maxFileSize>

            <maxHistory>7</maxHistory>

            <totalSizeCap>1GB</totalSizeCap>

        </rollingPolicy>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <logLevel/>
                <loggerName/>
                <message/>
                <mdc/>
                <arguments/>
                <stackTrace/>
            </providers>
        </encoder>

    </appender>


    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
        <appender-ref ref="JSON_FILE"/>
    </root>

</configuration>